<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <!-- Optional for PWAs / standalone on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Android Chrome top bar color (solid colour only); TODO: update actual colour -->
    <meta name="theme-color" content="#1527AC">



    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css?newcache=0.0.1" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/academicons/css/academicons.min.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/fontawesome6/css/fontawesome.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/fontawesome6/css/brands.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/fontawesome6/css/solid.css" | relURL }}" />
    {{ partial "head_custom.html" . }}

    <script>
      const themes = ["theme1", "theme2", "theme3"];
      let current = 0;
      function switchTheme() {
        document.body.classList.remove(themes[current]);
        current = (current + 1) % themes.length;
        document.body.classList.add(themes[current]);
      }
      // initialize
      document.body.classList.add(themes[0]);
    </script>

  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
