body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
footer { color: #999; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* h2 header (i.e. ## in markdown) */
h2 {
  text-decoration: none;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

/* Link colours */
a:link {color:#1527AC; text-decoration: none}    /* unvisited link is black*/
a:visited {color:#1527AC;} /* visited link is black (reverse the color back to black)*/
a:hover {color:blue ; text-decoration: underline} /* visited link is black (reverse the color back to black)*/


#lmb-logo {
  /* max-height:80px; */
  /* max-width: 40%; */
  width: 30%;
  float:right;
  margin-left:0%;
  margin-right:0%;
  margin-bottom:0%; 
  margin-top: -1.8% 
}

#my-photo {
  width: 21%;
  float: left;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 4%;
  border-radius: 5%;
}

@media (max-width: 600px) {
  #my-photo {
    /* // Override width to show only one image in a row on smaller screens */
    width: 36%;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 32%;
    margin-right: 32%;
    border-radius:5%;
  }

  #lmb-logo {
    /* // Override width to show only one image in a row on smaller screens */
    width: 40%;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 31%;
    margin-right: 29%;
    border-radius:5%;
  }
}
